<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Set up</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <my-form />
        <h2 v-if="message.length%2 === 0">one: {{ message }}</h2>
        <h2 v-else>Two: {{ message }}</h2>
        <ul>
            <li v-for="number in listofnumber">{{ number }}</li>
        </ul>

        <button @click="isv = !isv">toggle {{isv}}</button>
        <button @click="togglebox">Toggle meth {{isv}}</button>
        <p v-if="isv">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, esse maxime, rerum repellendus numquam
            ipsum culpa commodi voluptates reprehenderit quo sunt nihil officiis fugiat praesentium quam odit facere non
            est.
        </p>
    </div>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                return {
                    message: 'this is my mesage',
                    isv: true,
                    listofnumber: [1, 2, 3, 4]
                }
            },
            methods: {
                togglebox() {
                    this.isv = !this.isv
                }
            },
        });

        app.component('my-form', {
            template: `
            <form>
                <h2>{{ title }}</h2>
                <custom-input  v-bind:label="nameLabel"/><br/>
                <custom-input  label="PassWord"/><br/>
                <button type="submit" @click="onsubmit">Submit</button>
            </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: "Formulaire",
                    name: '',
                    pass: '',
                    nameLabel: 'Text',
                    passLabel: 'Password',
                }
            },
            methods: {
                onsubmit() {
                    //e.preventDefault();
                    console.log(this.name + ' ' + this.pass)
                }
            },
        });

        app.component('custom-input', {
            template: `
                {{ label }}
                <input type="text" v-model="inputValue" />    
            `,
            props: ['label'],
            
            data() {
                return {
                    inputValue:''
                }
            },
        })

        app.mount('#app');
    </script>
</body>

</html>