<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Set up</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <h2 v-if="message.length%2 === 0">one: {{ message }}</h2>
        <h2 v-else>Two: {{ message }}</h2>
        <ul>
            <li v-for="number in listofnumber">{{ number  }}</li>
        </ul>
    </div>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                return {
                    message: 'this is my mesage',
                    listofnumber: [1, 2, 3, 4]
                }
            },
        });
        app.mount('#app');
    </script>
</body>

</html>